.weatherBox {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.weatherBoxTest {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: red;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    display: inline-block;
    width: 64px;
    height: 40px;
    vertical-align: middle;
    margin-top: -3px;
}